# Ignore GloVe word embedding file
DeeplearningAI-Tensorflow-Dev/C3-Natural-Language-Processing-in-Tensorflow/week-3/C3W3_Assignment/data/glove.6B.100d.txt

# Ignore training dataset file
DeeplearningAI-Tensorflow-Dev/C3-Natural-Language-Processing-in-Tensorflow/week-3/C3W3_Assignment/data/training_cleaned.csv

# Ignore training dataset file from ILT 5
ILT-ML-05-AD/content/
ILT-ML-05-AD/content/Dogs-&-Cats-Images.zip
ILT-ML-05-AD/Dogs-&-Cats-Images.zip

# virtual environment
DeeplearningAI-Data-and-Deployment/myenv

tf2_8